*.class
#*.jar
*.ear
*.lck
*.jdb
.DS_Store
.adf
.idea

mq-client/target
sapo/target

hrdata
dataloader/target
oam-custom/oam-custom-login/target
oam-custom/oam-custom-plugin/target
oam-custom/target
oaam-wrapper/target
srdeft/target
srdclient/target
oimclient/target
smshelper/target
oim-wrapper/target

smshelper/files
ecd-helper/target

pip-client/out
niis-client/out